body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
}

.blank-box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(17, 17, 17, 0.11);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 10px 18px;
  gap: 18px;
  max-width: 600px;
}

#currentTime {
  background-color: rgba(49, 49, 49, 0.7);
  color: #ffffff;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 20px;
  display: inline-block;
  text-align: center;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background-color: #d0d0d0;
  border-radius: 4px;
  overflow: hidden;
}

#progressBar {
  height: 100%;
  background-color: #ff0000;
  border-radius: 4px;
  transition: width 0.1s;
}

.time-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  justify-content: space-around;
}

.time-box {
  background-color: rgba(49, 49, 49, 0.7);
  color: rgb(170, 170, 170);
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  flex: 1;
  max-width: 45%;
  font-size: 14px;
}

#remainingTimeBox,
#finishTimeBox {
  font-size: 12px;
}

#remainingTime,
#finishTime {
  margin-top: 3px;
  font-size: 15px;
  color: rgb(241, 241, 241);
  font-weight: bold;
}

.speed-selection {
  background-color: rgba(49, 49, 49, 0.7);
  font-size: 12px;
  color: rgb(170, 170, 170);
  padding: 16px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.speed-selection > div:first-of-type {
  margin-bottom: 12px;
  font-weight: bold;
}

.speed-option {
  color: rgb(241, 241, 241);
  font-size: 15px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.speed-option:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}

.speed-time {
  background-color: #333;
  padding: 2px 4px;
  border-radius: 4px;
}

.selected-speed {
  border: 2px solid #ff0000;
  border-radius: 20px;
}
